@{
    ViewData["Title"] = "Gerar Relatorio";
}

<h1>Gerar relatorio dos salarios</h1>

<div class="row">
    <div class="col-md-12">
        <a asp-controller="Consulta" asp-action="IndexFilialMais">Filiais que mais venderam</a>
        <a asp-controller="Consulta" asp-action="IndexFilialVendas">Vendas por filial</a>
        <a asp-controller="Consulta" asp-action="IndexFuncionarioMais">Funcionario que mais vendeu</a>
        <a asp-controller="Consulta" asp-action="IndexModeloMais">Modelos de carro mais vendidos</a>
        <a asp-controller="Consulta" asp-action="Index">...</a>
        <a asp-controller="Consulta" asp-action="Index">...</a>
    </div>
</div>
        