@{
    ViewData["Title"] = "Pagina Inicial";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo</h1>
    <h2>Escolha a funcionalidade</h2>
    <a asp-controller="Funcionario" asp-action="Get">Funcionarios</a>
    <a asp-controller="Carro" asp-action="Get">Carros</a>
    <a asp-controller="Filial" asp-action="Get">Filiais</a>
    <a asp-controller="Funcao" asp-action="Get">Funcoes</a>
</div>