@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600&display=swap');

html {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.icon-td {
  display: flex;
  column-gap: 8px;
}

.form-group1 {
  display: flex;
}

.col-lg-12 {
  display: flex;
  flex-direction: column;
  row-gap: 2vh;
}

.btn-delete {
  color: #fff;
  background-color: #c21b2c;

}

.btn-cancelar {
  color: #fff;
  background-color: #808080;
}

.btn-header {
  display: flex;
  justify-content: space-between;
  
}